h1{
    background-color: brown;
    text-align: center;
    h1{
        font-family: verdana;
        font-size: 50px;
      }
}
div{
    height: 100px;
    width: 100px;
    color: aqua;
    margin: 2px solid black;
}
body{
    background-color:#ffff00;
}
button{
    background-color: blue;
}   